<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Music!</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>motion</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>motion</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendars</string>
	<key>NSCameraUsageDescription</key>
	<string>Bạn có thể dùng camera để lấy ảnh, tạo bản đăng và thay đổi cấu hình, wallpicture ...</string>
	<key>NSContactsUsageDescription</key>
	<string>contacts</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Always and when in use!</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can I have location always?</string>
	<key>NSLocationUsageDescription</key>
	<string>Older devices need location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need location when in use</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Yêu cầu quyên microphone để tham gia khóa học, bài giảng trực tuyến</string>
	<key>NSMotionUsageDescription</key>
	<string>motion</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Image storage, report data</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Điều này cho phép bạn gửi hoặc đăng ảnh và video từ thư viện và lưu những người bạn chụp</string>
	<key>NSRemindersUsageDescription</key>
	<string>reminders</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>speech</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>